* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-main: 'Roboto Slab', serif;
    --font-small: 'Montserrat', sans-serif;
}

body {
    background-color: #b3afaf;
}

form {
    width: 390px;
    background-color: #fff;
    margin: 0 auto;
    padding: 86px 56px 20px  56px;
    border-radius: 10px;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, .3);
}

h1 {
    font-family: var(--font-main);
    font-size: 28px;
    text-align: center;
    margin-bottom: 55px;
}

label {
    color: #9f9f9c;
    font-family: var(--font-small);
    font-size: 16px;
}

input {
    width: 100%;
    margin-bottom: 60px;
    border: none;
    outline: none;
    border-bottom: 1px solid #9f9f9c;
}

#sbmt {
    color: white;
    font-family: var(--font-main);
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #22d3fd 0%, #b522ff 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 125px;
    cursor: pointer;
}

p {
    font-size: 13px;
}